    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer"
           href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
          Menu du Tableau
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Graphique</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/page-user.html">
              <i class="material-icons">person</i>
              <p>Profile Utilisateur</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-tables.html">
              <i class="material-icons">content_paste</i>
              <p>Données Réelles</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Deconnexion</p>
            </a>
          </li>

        {% else %}

          <li class="nav-item active">
            <a class="nav-link"
               target="_blank" rel="noopener noreferrer"
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>Profile Admin</p>
            </a>
          </li>

            <li class="nav-item active">
            <a class="nav-link"
               target="_blank" rel="noopener noreferrer"
               href="{% url 'clientv' %}">
              <i class="material-icons">unarchive</i>
              <p>Profile Client</p>
            </a>
          </li>

        {% endif %}
        </ul>
      </div>

    </div>
